<section class="subscribe-form">
    <h3 class="subscribe-form-title">Subscribe to {{@site.title}}</h3>
    <p class="subscribe-form-description">Get the latest posts delivered right to your inbox</p>
    {{> "mailchimp-subscribe-form"}}
</section>