{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header">
    <div class="outer site-nav-main">
        <div class="inner">
            {{> "site-nav"}}
        </div>
    </div>
</header>

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main id="site-main" class="site-main outer">
    <div class="inner">
        <div class="search-form">
            <h1 class="search-title">Search {{@site.title}}</h1>
            <form>
                <div class="form-group">
                    <input id="search-field" class="search-term" placeholder="Enter the search term">
                    <button type="submit" id="search-button">Search</button>
                </div>
            </form>
            <div id="search-results"></div>
        </div>        
    </div>
</main>

{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
    {{!-- Initialize ghost-search plugin (https://github.com/HauntedThemes/ghost-search) --}}
    <script src="https://unpkg.com/@tryghost/content-api@1.4.1/umd/content-api.min.js"></script>
    <script type="text/javascript" src="{{asset "js/ghost-search.min.js"}}"></script>
    <script>
        let ghostSearch = new GhostSearch({
            key: 'ea54960fe7285e47f9fec381a3', // This is just a demo key. Replace the key with a real one. See Step 3.
            url: 'http://localhost:2368', // This is just a demo host. Replace the demo url with a real one. See Step 3.
            input:   '#search-field',
            results: '#search-results',
            button: '#search-button',
            template: function(result) {
                return '<div class="search-results-item">' + 
                           '<h3 class="title"><a href="/' + result.slug + '/">' + result.title + '</a></h3>' +
                           '<p class="excerpt">' + (result.custom_excerpt ? result.custom_excerpt : result.plaintext.substring(0, 140)) + '</p>' +
                        '</div>';  
            },            
            on: {
                afterDisplay: function(results){
                    if (document.getElementById('search-field').value != '') {
                        let resultsTitle = document.getElementById('search-results-title');
                        if (!resultsTitle) {
                            resultsTitle = document.createElement('h2');
                            resultsTitle.id = 'search-results-title';
                            let resultsElement = document.getElementById('search-results');
                            resultsTitle = resultsElement.parentNode.insertBefore(resultsTitle, resultsElement);
                        }
                        resultsTitle.innerHTML = results.total > 0 ? 'Results' : 'No Results';
                    }
                }
            },
            options: {
                keys: [
                    'title',
                    'plaintext'
                ],
            },
            api: {
                resource: 'posts',
                parameters: { 
                    fields: ['title', 'slug', 'plaintext', 'custom_excerpt'],
                    formats: 'plaintext',
                },
            },  
        })
    </script>

{{/contentFor}}
